{# home/cinema.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

  <h1>{{title}}</h1>
  <br>
    <h2>Qu'est-ce qu'on peut voir de beau ...</h2>
      <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
      <br>

    <h2> Un film à la une </h2>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ lastFilm.title }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{ lastFilm.releaseDate }}</h6>
          <p class="card-text"></p>
          <a href="{{ path ('moreDetails', {'id': lastFilm.id})}}" class="card-link"> <span class="badge badge-secondary">More !</span> </a>
        </div>
    </div>
  <br>
  <br>
    <h2> Filmothèque </h2>
      <table class="table table-hover">
      <thead>
          <tr>
              <th>Title</th>
              <th>Resum</th>
              <th>Détails</th>
              <th>Favorite</th>
          </tr>
      </thead>
        <tbody>
      {% for film in films %}
            <tr>
              <td>{{ film.title }}</td>
              <td>{{ film.resum }}</td>
              <td> <a href = "{{ path ('moreDetails', {'id': film.id})}}">Learn more</a></td>
              <td> <a class="nav-link" href="#">
                      <svg class="bi bi-heart" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 01.176-.17C12.72-3.042 23.333 4.867 8 15z" clip-rule="evenodd"/>
                      </svg>
                  </a>
              </td>
          </tr>
      {%endfor%}
        </tbody>
      </table>
    <br>

{% endblock %}