{# auth/admin.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

  <h1>{{title}}</h1>
  <br>
  <h3>ADMIN / Gestion de la filmothèque du site</h3>
  <h4>Genre</h4>
  <div class="row">
      <div class="col-lg-10 col-md-12 mx-auto">
        <form action="{{path('postGenre')}}" method="POST" enctype = "multipart/form-data">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Name" id="name" name="name" required>
            <label>Id Genre</label>
            <input type="text" class="form-control" placeholder="Id Genre" id="idGenre" name="idGenre" required>
            <br>
            <button type="submit" class="btn btn-secondary" id="sendFilm">RegisterGenre</button>
        </form>
      </div>
    </div>
    <br>
  <h4>Film</h4>
    <div class="row">
      <div class="col-lg-10 col-md-12 mx-auto">
        <form action="{{path('postFilm')}}" method="POST" enctype = "multipart/form-data">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="Title" id="title" name="title" required>
            <label>Id Genre</label>
            <input type="text" class="form-control" placeholder="Id Genre" id="idGenre" name="idGenre" required>
            <label>Release Date</label>
            <input type="text" class="form-control" placeholder="Release Date" id="releaseDate" name="releaseDate" required>
            <label>Director</label>
            <input type="text" class="form-control" placeholder="Director" id="director" name="director" required>
            <label>Resum</label>
            <input type="text" class="form-control" placeholder="Resum" id="resum" name="resum" required>
            <label>Duration</label>
            <input type="text" class="form-control" placeholder="Duration" id="duration" name="duration" required>
            <label>Actors</label>
            <input type="text" class="form-control" placeholder="Actors" id="actors" name="actors" required>
            <br>
            <button type="submit" class="btn btn-secondary" id="sendGenre">RegisterFilm</button>
            <br>
        </form>
      </div>
    </div>
    <br>
    <br>

  <h3>ADMIN / Gestion de la communauté du site</h3>
  <br>
  <table class="table table-hover">
      <thead>
          <tr>
              <th>Name</th>
              <th>Firstname</th>
              <th>Username</th>
              <th>Email</th>
              <th>Password</th>
              <th></th>
              <th></th>
              <th></th>
          </tr>
      </thead>
        <tbody>
      {% for member in members %}
            <tr>
              <td>{{ member.name }}</td>
              <td>{{ member.firstname }}</td>
              <td>{{ member.username }}</td>
              <td>{{ member.email }}</td>
              <td>{{ member.password }}</td>
              <td> <a style="text-decoration:none" href = "{{ path ('viewByOne', {'id': member.id})}}">Display</a></td>
              <td> <a style="text-decoration:none" href = "#">Edite</a></td>
              <td> <a style="text-decoration:none" href = "#">Delete</a></td>
          </tr>
      {%endfor%}
        </tbody>
      </table>
    <br>

{% endblock %}